* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: #363636;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: grey;
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 8px;

}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

label {
    font-weight: 600;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 8px;
}

button {
    width: 30%;
    height: 28px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: white;
    border: none;
}

.error {
    color: red;
}

.error-input {
    border: 1px solid red;
}
